html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $primary-text-color;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 50px 0;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.title {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 46px;
  }
}
