.footer {
  display: block;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.footer-block-01 {
  display: block;
  height: auto;
  background: $title-text-color;
  background-image: url(../images/footer-background-320.png);
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.footer-box {
  padding: 50px 20px;
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.footer-h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  /* or 19px */
  text-align: center;
  letter-spacing: 0.03em;

  color: $white-color;

  margin: 0;

  &-span {
    color: $accent-color;
  }
}

.footer-p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;

  color: $white-color;
}

.footer-form-registration {
  padding-bottom: 50px;
}

.footer-field {
  margin-top: 20px;
}

.footer-form-button-submit {
  width: 260px;
  height: 48px;

  background: $accent-color;
  border: transparent;
  // margin-left: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  // display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $white-color;
}

.footer-subscribe-input {
  color: $white-color;
  border: 1px solid $white-color;
  box-sizing: border-box;

  width: 100%;
  height: 48px;
  padding-left: 28px;
  background-color: inherit;

  &:focus {
    outline: none;
    //   color: #FFFFFF;
    border-color: $accent-color;
  }
}

input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;

  color: $white-color;
}

.footer-contacts {
  display: block;
  padding: 30px;
  text-align: center;
  align-items: center;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts-phone {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: $title-text-color;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.footer-icon-tel {
  vertical-align: middle;
  margin-right: 9px;
}

.footer-img {
  display: inline;
}

.instagram {
  display: block;
}

.footer-copyright {
  display: block;
  background: $title-text-color;
  padding: 20px 50px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  align-items: center;
  color: #b9b9b9;
}
