header {
  padding-top: 26px;
  padding-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0.03em;
}
