.card-list {
    width: 100%;
    text-align: center;

}

.card-senior {
    display: block;
    text-align: center;
}

.name-senior {
    font-weight: 800;
font-size: 14px;
line-height: 17px;
text-align: center;
letter-spacing: 0.08em;
color: $accent-color;
}