.icon {
    fill: currentColor;
    transition: background-color $timing-function;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: blueviolet;
    transform: scale(1);
    transition: transform $timing-function;
}

.social-link:hover,
.social-link:focus {
    background-color: rgb(14, 147, 151);
    color: $white-color;
    transform: scale(1.25);
    animation: change-color 1000ms $timing-function;
}

@keyframes change-color {
    0% {
        background-color: rgb(80, 157, 177);
    }
    50% {
        background-color: aquamarine;
    }
    100% {
        background-color: aqua;
    }
}

.card-senior {
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.name-senior {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    letter-spacing: 0.08em;
    color: $accent-color;
}

.comment {
    margin-top: 10px;
    margin-bottom: 30px;
    color: $secondary-text-color;
}

a.extra {
    color: $accent-color;
    text-decoration: underline;
}