/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
<<<<<<< Updated upstream
    bottom: 12px;
=======
    bottom: 20px;
>>>>>>> Stashed changes
    z-index: 10;
    font-size: 0;
}

.slider .slick-arrow.slick-prev {
<<<<<<< Updated upstream
    left: 10px;
    background: url('../images/sl-arrow-left.svg') 0 0 no-repeat;
=======
    left: 1px;
    background: url('../images/sl-arrow-left\ .svg') 0 0 no-repeat;
>>>>>>> Stashed changes
    border: 0;
    width: 25px;
    height: 20px;
}

.slider .slick-arrow.slick-next {
<<<<<<< Updated upstream
    right: 0;
    background: url('../images/sl-arrow-right.svg') 0 0 no-repeat;
    border: 0;
    width: 35px;
    height: 25px;
}

/* Точки (булиты) */
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0 5px;
}
/* Активная точка */
.slider .slick-dots li.slick-active{}

/* Элемент точки */
.slider .slick-dots button{
    font-size: 0;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: 0;
}

.slider .slick-dots li.slick-active button {
    background: url('../images/mobile/slider/mini-photo/Tonia-mob-mini.jpg') 0 0 no-repeat,
         url('../images/mobile/slider/mini-photo/Yanina-mob-mini.jpg') 0 0 no-repeat,
         url('../images/mobile/slider/mini-photo/Olia-mob-mini.jpg') 0 0 no-repeat,
         url('../images/mobile/slider/mini-photo/Liza-mob-mini.jpg') 0 0 no-repeat;
    background-position: center;
    background-size: contain;
=======
    left: 310px;
    background: url('../images/sl-arrow-right\ .svg') 0 0 no-repeat;
    border: 0;
    width: 35px;
    height: 25px;
>>>>>>> Stashed changes
}

// .slider {
//     position: relative;
//     width: 375px;
//     height: 780px;
//     margin-right: auto;
//     margin-left: auto;
    

//     @media screen and (min-width: $tablet) {
//         max-width: 335px;
//         height: 560px;
//     }

//     @media screen and (min-width: $desktop) {
//         max-width: 335px;
//         height: 810px;
//     }
// }

// .slider-wrap {
    
//     position: absolute;
//     // width: 335px;

//     // @media screen and (max-width: 767px) {
        
//     // }
// }

.slider-item {
    // display: block;
    padding: 20px 20px 30px 20px;
    max-width: 335px;
    text-align: center;
    // margin-right: 15px;
    // margin-left: auto;
    // margin-bottom: 15px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.photo-senior img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 90px;
    height: auto;
}

.icon {
    fill: currentColor;
    transition: background-color $timing-function;
}

.social-link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: blueviolet;
    transform: scale(1);
    transition: transform $timing-function;
}

.social-link:hover,
.social-link:focus {
    background-color: rgb(14, 147, 151);
    color: $white-color;
    transform: scale(1.25);
    animation: change-color 1000ms $timing-function;
}

@keyframes change-color {
    0% {
        background-color: rgb(80, 157, 177);
    }
    50% {
        background-color: aquamarine;
    }
    100% {
        background-color: aqua;
    }
}

.name-senior {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    letter-spacing: 0.08em;
    color: $accent-color;
}

.comment {
    margin-top: 10px;
    margin-bottom: 30px;
    color: $secondary-text-color;
}

a.extra {
    color: $accent-color;
    text-decoration: underline;
}