@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("/montserrat-v14-latin_cyrillic-100.67572b0f.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-100.2e7543e0.woff") format("woff"), url("/Montserrat-Thin.8c4fc1c5.ttf") format("truetype");
}
/* montserrat-100italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("/montserrat-v14-latin_cyrillic-100italic.eb7ff13f.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-100italic.0901f042.woff") format("woff"), url("/montserrat-v14-latin_cyrillic-100italic.9fb96bd7.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* montserrat-200 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("/montserrat-v14-latin_cyrillic-200.3e2208cf.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-200.efab8557.woff") format("woff"), url("/Montserrat-ExtraLight.f8b4317c.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("/montserrat-v14-latin_cyrillic-200italic.77cca529.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-200italic.566de8b6.woff") format("woff"), url("/Montserrat-ExtraLightItalic.63cb1e62.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("/montserrat-v14-latin_cyrillic-300.62eb84b2.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-300.4fb5dca1.woff") format("woff"), url("/Montserrat-Light.fbb571cf.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("/montserrat-v14-latin_cyrillic-300italic.990ecd55.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-300italic.227e3bec.woff") format("woff"), url("/Montserrat-LightItalic.98f5d6ba.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("/montserrat-v14-latin_cyrillic-regular.b3efb4d8.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-regular.61492ccf.woff") format("woff"), url("/Montserrat-Regular.44e710c1.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("/montserrat-v14-latin_cyrillic-italic.6a1ea251.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-italic.ebab8f73.woff") format("woff"), url("/Montserrat-RegularItalic.33b7b174.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("/montserrat-v14-latin_cyrillic-500.bd5a7a4e.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-500.2b237b66.woff") format("woff"), url("/Montserrat-Medium.d1110365.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("/montserrat-v14-latin_cyrillic-500italic.fceaeed6.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-500italic.b55ca8b4.woff") format("woff"), url("/Montserrat-MediumItalic.7dd20c70.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("/montserrat-v14-latin_cyrillic-600.78bfcd30.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-600.9ab243fb.woff") format("woff"), url("/Montserrat-SemiBold.907fc829.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("/montserrat-v14-latin_cyrillic-600italic.35ce93e9.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-600italic.82e794ba.woff") format("woff"), url("/Montserrat-SemiBoldItalic.d5589f9d.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/montserrat-v14-latin_cyrillic-700.c08a7122.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-700.47587240.woff") format("woff"), url("/Montserrat-Bold.f3410305.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("/montserrat-v14-latin_cyrillic-700italic.06b48bff.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-700italic.c8493632.woff") format("woff"), url("/Montserrat-BoldItalic.474b9e20.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("/montserrat-v14-latin_cyrillic-800.d8a484f6.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-800.d7b51b6d.woff") format("woff"), url("/Montserrat-ExtraBold.aa4e0e88.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("/montserrat-v14-latin_cyrillic-800italic.2080b79c.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-800italic.6804392f.woff") format("woff"), url("/Montserrat-ExtraBoldItalic.d07ea3e9.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"), url("/montserrat-v14-latin_cyrillic-900.ec9e8d78.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-900.b71271d5.woff") format("woff"), url("/Montserrat-Black.1b51557d.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("/montserrat-v14-latin_cyrillic-900italic.a1497a46.woff2") format("woff2"), url("/montserrat-v14-latin_cyrillic-900italic.9de845b3.woff") format("woff"), url("/Montserrat-BlackItalic.f2271998.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 50px 0;
}
@media screen and (min-width: 1440px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 46px;
  }
}

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 0%, #ffffff 0%, #ffffff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0.3) 24%, #ffffff 25%, #ffffff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0.5) 49%, #ffffff 50%, #ffffff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0.8) 74%, #ffffff 75%, #ffffff 100%);
  }
  100% {
    color: #ffffff;
    background: radial-gradient(circle at center, #ff6b09 99%, #ffffff 100%, #ffffff 100%);
  }
}
/* Навигация*/
header {
  position: relative;
  padding-top: 35px;
}
@media screen and (min-width: 768px) {
  header {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1440px) {
  header {
    padding-top: 45px;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    margin-bottom: 45px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .logo-mob .icon {
    width: 130px;
    height: 45px;
  }
}

/*Список*/
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav-list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav-item:not(:first-child) {
  margin-left: 40px;
}

.header-nav-link {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #b9b9b9;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #ff6b09;
}

/* Кнопка Консультация*/
.consultation-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .consultation-btn {
    display: block;
    width: 260px;
    height: 48px;
    margin-right: 45px;
    border: 2px solid #ff6b09;
    font-size: 12px;
    font-weight: bold;
    line-height: 48px;
    color: #ff6b09;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }
}
@media screen and (min-width: 1440px) {
  .consultation-btn {
    margin-left: 60px;
    width: 336px;
    height: 70px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 68px;
    cursor: pointer;
  }
}

.consultation-btn:active {
  animation: gradient 250ms;
  background: #ff6b09;
  color: #ffffff;
  box-shadow: none;
}

/* Кнопка-бургер */
.menu-button,
.menu-button-black {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .menu-button,
.menu-button-black {
    display: none;
  }
}

.menu-button .icon-menu {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

/*.menu-button-black .icon-cross {
  display: block;
}
.menu-button-black.is-open .icon-cross {
  display: none;
}
*/
/* Black меню*/
.header-black {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  padding-top: 35px;
}
@media screen and (min-width: 1440px) {
  .header-black {
    display: none;
  }
}
.header-black.is-open {
  display: block;
}
@media screen and (min-width: 1440px) {
  .header-black.is-open {
    display: none;
  }
}

.header-black-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .header-black-top {
    margin-bottom: 72px;
  }
}

.header-black-list {
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  width: 260px;
}
@media screen and (min-width: 768px) {
  .header-black-list {
    width: 332px;
  }
}

.header-black-item:not(:last-child) {
  margin-bottom: 20px;
}

.black-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.black-line:hover,
.black-line:focus {
  color: #ff6b09;
}

.consultation-black-btn {
  display: block;
  width: 260px;
  height: 48px;
  border: 2px solid #ff6b09;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: bold;
  line-height: 48px;
  color: #ff6b09;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .consultation-black-btn {
    display: none;
  }
}

.forallsection {
  background-image: url(/Vector.d3de0691.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .forallsection {
    background-image: url(/Vectorfortab.02fcca38.png);
  }
}
@media screen and (min-width: 1440px) {
  .forallsection {
    margin-bottom: 130px;
    background-image: url(/Vectorfordesktop.6952a96e.png);
  }
}

@media screen and (min-width: 768px) {
  .header-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 116px;
  }
}
.title-hero {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  width: 280px;
  color: #111518;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .title-hero {
    font-size: 26px;
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .title-hero {
    font-size: 58px;
    width: 612px;
    margin-top: 30px;
    padding: 0;
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.par-simple {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .par-simple {
    font-size: 20px;
    line-height: 1.65;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 0;
  margin-bottom: 30px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .subtitle {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .subtitle {
    font-size: 20px;
    line-height: 1.65;
    width: 612px;
  }
}

.subtitle-span {
  color: #ff6b09;
}

.hero-button {
  display: block;
  border: 0;
  background: #ff6b09;
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 48px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 30px;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .hero-button {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 70px;
  }
}

.hero-button:active {
  animation: gradient 250ms;
  background: #ff6b09;
  color: #ffffff;
  box-shadow: none;
}

.hero-photo {
  margin: 0 auto;
  padding-bottom: 77px;
}
@media screen and (min-width: 768px) {
  .hero-photo {
    width: 377px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .hero-photo {
    width: 641px;
    margin: 0;
  }
}

.hero-feateres {
  padding: 0 52px;
}
@media screen and (min-width: 768px) {
  .hero-feateres {
    display: flex;
    justify-content: space-between;
  }
}

.hero-item {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: #111518;
  padding-left: 68px;
  list-style: none;
  min-height: 60px;
  max-width: 230px;
  vertical-align: middle;
}
@media screen and (min-width: 1440px) {
  .hero-item {
    font-size: 20px;
    line-height: 1.65;
    min-height: 66px;
    max-width: 486px;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-left: 84px;
    padding-top: 18px;
  }
}

.hero-item:nth-child(-n+2) {
  margin-bottom: 22px;
}

.hero-item.adapt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 61px;
  height: 62px;
  background-image: url(/adapt.2cebcc49.svg);
  margin-right: 10px;
}
@media screen and (min-width: 1440px) {
  .hero-item.adapt::before {
    width: 103px;
    height: 105px;
    background-repeat: no-repeat;
    background-image: url(/adapt-d.6caa2f9a.svg);
  }
}

.hero-item.modern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 61px;
  height: 62px;
  background-image: url(/modern.88b766a7.svg);
  margin-right: 10px;
}
@media screen and (min-width: 1440px) {
  .hero-item.modern::before {
    width: 103px;
    height: 105px;
    background-repeat: no-repeat;
    background-image: url(/modern-d.34deb088.svg);
  }
}

.hero-item.finance::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 61px;
  height: 62px;
  background-image: url(/finance.7807d59a.svg);
  margin-right: 10px;
}
@media screen and (min-width: 1440px) {
  .hero-item.finance::before {
    width: 103px;
    height: 105px;
    background-repeat: no-repeat;
    background-image: url(/finance-d.6f10e8b1.svg);
  }
}

.fire-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 85px;
  color: #ffffff;
  display: inline-block;
  width: 44px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(/campfire.df7ed37a.svg);
  background-size: contain;
  z-index: 20;
  cursor: pointer;
}

.problems-accent {
  color: #ff6b09;
}

.main-problems {
  background-image: linear-gradient(#111518 85%, #ffffff 15%);
  background-size: auto;
  padding-bottom: 0px;
}

.main-problems-title {
  margin-top: 50px;
  margin-bottom: 70px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .main-problems-title {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .main-problems-title {
    font-size: 26px;
    width: 480px;
  }
}
@media screen and (min-width: 1440px) {
  .main-problems-title {
    font-size: 46px;
    width: 850px;
  }
}

@media screen and (min-width: 1440px) {
  .background-img {
    background-image: url("/icon-fire.332de85e.png");
    background-position: right 20px top 20px;
    background-repeat: no-repeat;
  }
}
.how-i-do-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .how-i-do-list {
    margin: -10px;
  }
}

.how-i-do-item {
  display: block;
  width: 100%;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.how-i-do-item:not(:last-child) {
  margin-bottom: 15px;
}
.how-i-do-item:hover {
  background-color: #ff6b09;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}
.how-i-do-item:hover .icon-how-i-do {
  fill: #ffffff;
}
.how-i-do-item:hover .how-i-do-text-tittle,
.how-i-do-item:hover .how-i-do-text {
  color: #ffffff;
}
.how-i-do-item:hover .how-i-do-text-tittle:after,
.how-i-do-item:hover .how-i-do-text:after {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .how-i-do-item {
    width: calc((100% - 10px * 4) / 2);
    margin: 10px;
  }
  .how-i-do-item:nth-child(n+5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .how-i-do-item {
    width: calc((100% - 10px * 6) / 3);
  }
  .how-i-do-item:nth-child(4) {
    margin-bottom: 0;
  }
}

.icon-how-i-do {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
  fill: #ff6b09;
}

.how-i-do-text-block {
  margin-left: 11px;
  margin-right: 11px;
}

.how-i-do-tittle {
  display: block;
  margin-bottom: 30px;
}

.how-i-do-text-tittle {
  position: relative;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
}
.how-i-do-text-tittle:after {
  content: "";
  margin: 20px auto 20px;
  display: block;
  background-color: #ff6b09;
  width: 25px;
  height: 2px;
}
@media screen and (min-width: 1440px) {
  .how-i-do-text-tittle {
    font-size: 20px;
    line-height: 1.4;
  }
}

.how-i-do-text {
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 1440px) {
  .how-i-do-text {
    font-size: 18px;
    line-height: 1.4;
  }
}

.our-program {
  position: relative;
  background: linear-gradient(#111518 87%, #ffffff 13%);
}
@media screen and (min-width: 1440px) {
  .our-program::before {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: #FFFFFF;
    transform: translateY(114px);
  }
}

.title-w {
  color: #ffffff;
  text-align: center;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .title-program {
    font-size: 26px;
    text-align: start;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .title-program {
    font-weight: 800;
    font-size: 46px;
    margin-bottom: 60px;
  }
}

.program-list {
  margin-left: 94px;
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .program-list {
    display: flex;
    margin-left: 0px;
  }
}

.program-list-item {
  padding-bottom: 43px;
  padding-left: 26px;
}
.program-list-item:not(:last-child) {
  border-left: 2px solid #FFFFFF;
}
.program-list-item:last-child {
  padding-left: 28px;
}
@media screen and (min-width: 1440px) {
  .program-list-item {
    border-left: none;
    padding-bottom: 0px;
    padding-top: 50px;
  }
  .program-list-item:not(:last-child) {
    border-left: none;
  }
}

.program-list-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1440px) {
  .program-list-item-title {
    font-size: 20px;
    line-height: 1.4;
  }
}
.program-list-item-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
  transform: translateX(-33px) translateY(0px);
}
@media screen and (min-width: 1440px) {
  .program-list-item-title::before {
    transform: translateX(-2px) translateY(-60px);
  }
}

@media screen and (min-width: 768px) {
  .caption-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .caption-list {
    display: block;
  }
}

.caption-list-item:not(:last-child) {
  margin-bottom: 13px;
}
@media screen and (min-width: 768px) {
  .caption-list-item {
    width: 150px;
  }
  .caption-list-item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .caption-list-item:nth-child(1n) {
    width: 200px;
    margin-bottom: 30px;
  }
}

.caption-name {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.64;
  margin-left: 10px;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 15px;
  text-align: start;
}
.caption-name::before {
  content: "";
  transform: translateY(-3.5px);
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  width: 14px;
  height: 2px;
  background-color: #ff6b09;
}
@media screen and (min-width: 1440px) {
  .caption-name {
    font-size: 20px;
    line-height: 1.64;
  }
  .caption-name::before {
    content: "";
    transform: translateY(-6.5px);
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 14px;
    height: 2px;
    background-color: #ff6b09;
  }
}

.caption-description {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: #B9B9B9;
}
@media screen and (min-width: 1440px) {
  .caption-description {
    font-size: 18px;
    line-height: 1.56;
  }
}

.caption-description-span {
  display: block;
  margin-bottom: 7px;
}

.lyout-img {
  background-image: url("/our-team-mobile.8b620152.png");
  background-repeat: no-repeat;
  background-position: right bottom 650px;
  background-size: 150px 150px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .lyout-img {
    background-image: url("/our-team-mobile@2x.29818764.png");
  }
}
@media screen and (min-width: 768px) {
  .lyout-img {
    background-image: url("/our-team-tablet.13a5ae5b.png");
    background-size: 384px 280px;
    background-position: right bottom 370px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .lyout-img {
    background-image: url("/our-team-tablet@2x.2922e679.png");
  }
}
@media screen and (min-width: 1440px) {
  .lyout-img {
    background-image: url("/our-team-desctop.db1d55ca.png");
    background-size: 600px 450px;
    background-position: left bottom 220px;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .lyout-img {
    background-image: url("/our-team-desctop@2x.afdf28ef.png");
  }
}

.choice-title {
  width: 180px;
  margin-bottom: 30px;
  margin-top: 0px;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .choice-title {
    width: 100%;
    text-align: center;
    font-size: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .choice-title {
    display: none;
  }
}

.choice-container {
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 1440px) {
  .choice-container {
    padding: 70px 80px;
  }
}

@media screen and (min-width: 768px) {
  .choice-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.choice-list-item {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .choice-list-item {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .choice-list-item {
    width: calc((100% - 15px * 6) / 3);
  }
}

.choice-number {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 10px;
}
.choice-number::before {
  content: "";
  transform: translateY(-4.5px);
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  width: 13px;
  height: 1px;
  background-color: #ff6b09;
}
@media screen and (min-width: 1440px) {
  .choice-number {
    font-size: 20px;
    line-height: 1.64;
  }
  .choice-number::before {
    content: "";
    transform: translateY(-6.5px);
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 14px;
    height: 2px;
    background-color: #ff6b09;
  }
}

.choise-desciption {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  color: #111518;
}
@media screen and (min-width: 1440px) {
  .choise-desciption {
    font-size: 20px;
    line-height: 1.2;
  }
}

.section.teacher {
  padding-top: 0;
  padding-bottom: 50px;
}
@media screen and (min-width: 1440px) {
  .section.teacher {
    padding-bottom: 130px;
  }
}

.teacher.title {
  margin-bottom: 20px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .teacher.title {
    margin-bottom: 30px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .teacher.title {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

@media screen and (min-width: 768px) {
  .teacher-wrap {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .teacher-wrap {
    width: 1205px;
  }
}

.teacher-photo {
  max-width: none;
}

@media screen and (min-width: 768px) {
  .teacher-achievment-box {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .teacher-achievment-box {
    margin-left: 30px;
  }
}

.teacher-name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (max-width: 767px) {
  .teacher-name {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .teacher-name {
    margin-bottom: 15px;
    font-size: 30px;
  }
}

.teacher-achievment.list {
  padding-top: 20px;
  border-top: 1px solid #b9b9b9;
}

.teacher-achievment.item {
  position: relative;
  padding-left: 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: #111518;
}
.teacher-achievment.item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .teacher-achievment.item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .teacher-achievment.item {
    padding-left: 59px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.teacher-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 17px;
  height: 14px;
}
@media screen and (min-width: 1440px) {
  .teacher-icon {
    width: 24px;
    height: 20px;
  }
}

.decorate-line:before {
  content: "";
  display: block;
  margin: 15px 0;
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
}
@media screen and (min-width: 1440px) {
  .decorate-line:before {
    margin: 30px 0;
  }
}

.teacher-achievment.desc {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #b9b9b9;
}
@media screen and (min-width: 1440px) {
  .teacher-achievment.desc {
    font-size: 18px;
    line-height: 1.556;
  }
}
.teacher-achievment.desc:last-of-type {
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .teacher-achievment.desc:last-of-type {
    margin-bottom: 20px;
  }
}

.certificate {
  text-decoration-line: underline;
  color: #ff6b09;
}
@media screen and (min-width: 1440px) {
  .certificate {
    font-size: 18px;
    line-height: 1.556;
  }
}

.we-ensure .title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
}
@media screen and (min-width: 1440px) {
  .we-ensure .title {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .we-ensure-wrap {
    background-color: #f1f1f1;
  }
}

.we-ensure-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .we-ensure-box {
    padding-left: 79px;
    padding-right: 50px;
    background-color: #f1f1f1;
  }
}
@media screen and (min-width: 1440px) {
  .we-ensure-box {
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 112px;
    padding-right: 112px;
  }
}

.line-dashed .item:not(:last-child) {
  border-left: 1px dashed #b9b9b9;
}

.we-ensure .item {
  position: relative;
  padding-left: 28px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #3d3d3d;
}
.we-ensure .item span {
  color: #ff6b09;
}
.we-ensure .item:not(:last-child) {
  padding-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .we-ensure .item {
    padding-left: 32px;
  }
  .we-ensure .item:not(:last-child) {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .we-ensure .item {
    padding-left: 41px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.star {
  position: relative;
}
.star:hover.star:after, .star:focus.star:after {
  opacity: 1;
}

.star::after {
  content: "При условии выполнения всех заданий.";
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 200px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: rgba(220, 95, 10, 0.7);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .star::after {
    width: 250px;
    bottom: 20px;
    padding: 15px;
    font-size: 16px;
  }
}

.we-ensure-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  display: inline-block;
  width: 15px;
  height: 20px;
}
@media screen and (min-width: 1440px) {
  .we-ensure-icon {
    width: 22px;
    height: 30px;
  }
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.slider {
  position: relative;
  padding-left: 40px;
  padding-right: 30px;
}

/* Стрелки */
.slider .slick-arrow {
  position: absolute;
  bottom: 5px;
  z-index: 10;
  font-size: 0;
  border: 0;
}

.slider .slick-arrow.slick-prev {
  left: 1px;
  background: url("/sl-arrow-left.bd8f1e9d.svg") 0 0 no-repeat;
  background-position: center;
  border: 0;
  width: 40px;
  height: 40px;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("/sl-arrow-right.d4dea996.svg") 0 0 no-repeat;
  background-position: center;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}

.slider-item {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: 0;
  text-align: center;
}

.slider .slick-dots li {
  list-style: none;
}

/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider .slick-dots button {
  font-size: 0;
  border-radius: 50px;
  border: 0;
}

.slider .slider-item.slick-current {
  display: none;
}

.slider .slick-item li.slick-active button {
  background-color: transparent;
  border: 0;
}

.sliderbig-item {
  padding: 20px 20px 30px 20px;
  max-width: 335px;
  text-align: center;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.photo-senior img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 150px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .photo-senior img {
    width: 90px;
  }
}

.icon {
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  margin-left: auto;
  margin-right: auto;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  color: blueviolet;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #0e9397;
  color: #ffffff;
  transform: scale(1.25);
  animation: change-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes change-color {
  0% {
    background-color: #509db1;
  }
  50% {
    background-color: aquamarine;
  }
  100% {
    background-color: aqua;
  }
}
.name-senior {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.comment {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #3d3d3d;
}

a.extra {
  color: #ff6b09;
  text-decoration: underline;
}

.footer {
  display: block;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.footer-block-01 {
  display: block;
  height: auto;
  background-image: url(/footer-background-320.ecbd9737.png), linear-gradient(#111518 0%, #111518 100%);
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .footer-block-01 {
    background-image: url(/footer-background-320@2x.0813b5d5.png), linear-gradient(#111518 0%, #111518 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-block-01 {
    background-image: url(/footer-background-768.3e293f57.png), linear-gradient(#111518 0%, #111518 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .footer-block-01 {
    background-image: url(/footer-background-768@2x.8f313a31.png), linear-gradient(#111518 0%, #111518 100%);
  }
}
@media screen and (min-width: 1440px) {
  .footer-block-01 {
    background-image: url(/footer-background-1680.cb3bab0e.png), linear-gradient(#111518 0%, #111518 100%);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .footer-block-01 {
    background-image: url(/footer-background-1680@2x.8c961124.png), linear-gradient(#111518 0%, #111518 100%);
  }
}

.footer-box {
  padding: 50px 20px;
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-box {
    padding: 50px 40px 71px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-box {
    padding: 100px 175px 62px 175px;
  }
}

.footer-h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  /* or 19px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-h2 {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1440px) {
  .footer-h2 {
    font-size: 46px;
    line-height: 1.3;
  }
}
.footer-h2-span {
  color: #ff6b09;
}

.footer-p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-p {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-p {
    font-size: 30px;
    line-height: 1.23;
    margin-top: 50px;
    margin-bottom: 56px;
  }
}

.footer-form-registration {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-form-registration {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-form-registration {
    padding-bottom: 80px;
  }
}

.footer-field {
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .footer-field {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1, 2;
  }
}

.footer-form-button-submit {
  width: 260px;
  height: 48px;
  background: #ff6b09;
  border: transparent;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .footer-form-button-submit {
    width: 354px;
    height: 70px;
  }
}

.footer-form-button-submit:active {
  animation: gradient 250ms;
  background: #ff6b09;
  color: #ffffff;
  box-shadow: none;
}

input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  input::placeholder {
    font-size: 20px;
    line-height: 24px;
  }
}

.footer-subscribe-input {
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 28px;
  background-color: inherit;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-subscribe-input {
    width: 390px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-subscribe-input {
    width: 478px;
    height: 70px;
  }
}
.footer-subscribe-input:focus {
  outline: none;
  border-color: #ff6b09;
}

.footer-contacts {
  display: block;
  padding: 30px;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-contacts {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-contacts {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
}

.footer-logo {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-logo {
    margin: 40px 200px 40px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-logo {
    margin: 80px 294px 60px 60px;
  }
}

.footer-contacts-phone {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-contacts-phone {
    margin-right: 39px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-contacts-phone {
    margin-right: 39px;
    font-size: 30px;
    line-height: 37px;
  }
}
.footer-contacts-phone:focus, .footer-contacts-phone:hover {
  color: #ff6b09;
}

.footer-icon-tel {
  vertical-align: middle;
  margin-right: 9px;
  width: 20px;
  height: 19px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-icon-tel {
    width: 24px;
    height: 23px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-icon-tel {
    width: 30px;
    height: 28px;
  }
}

.footer-img {
  display: inline;
}

.instagram {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .instagram {
    margin-right: 39px;
  }
}
@media screen and (min-width: 1440px) {
  .instagram {
    margin-right: 470px;
  }
}

.footer-copyright {
  background: #111518;
}

.footer-copyright-box {
  display: block;
  padding: 20px 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  align-items: center;
  color: #b9b9b9;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-copyright-box {
    display: flex;
    padding: 20px 0px 20px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-copyright-box {
    display: flex;
    padding: 22px 0px 22px 63px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */