<!-- Секція футера 1 -->
<div class="footer-block-01" id="footer">
  <div class="footer-box container">
    <h2 class="footer-h2">
      Регистрация на <span class="footer-h2-span">бесплатную </span>телефонную
      <span class="footer-h2-span">консультацию </span>по нюансам ЗНО по
      английскому языку
    </h2>
    <p class="footer-p">
      Оставь заявку на участие в
      <span class="footer-h2-span">бесплатном занятии. <br /> </span>С вами
      свяжется консультант и ответит на вопросы
    </p>

    <form action="#" class="footer-form" method="post">
      <div class="footer-form-registration">
        <div class="footer-field">
          <input
            class="footer-subscribe-input"
            name="name"
            placeholder="Имя (кирилица)"
            required
            type="text"
            pattern="^[А-Яа-яЁё\s]+$"
          />
        </div>

        <!-- <div class="footer-field">
          <input
            class="footer-subscribe-input"
            name="phone"
            placeholder="Телефон*"
            required=""
            type="tel"
          />
        </div> -->

        <div class="footer-field">
          <input
            class="footer-subscribe-input"
            name="phone"
            placeholder="Телефон (10 цифр)"
            required
            type="tel"
            pattern="[0-9]{10}"
          />
        </div>
      </div>
      <button class="footer-form-button-submit" type="submit">
        хочу на бесплатное занятие
      </button>
    </form>
  </div>
</div>
<!-- Секція футера 2 -->
<div class="footer-contacts container" id="contacts">
  <a class="footer-logo" href="#"
    ><picture class="footer-picture"
      >
      
     

        <source
          srcset="
          ./images/footer/footer-logo-768.jpg     1x,
          ./images/footer/footer-logo-768@2x.jpg 2x
          "   media="(min-width: 768px)"
        />

        <source
          srcset="
          ./images/footer/footer-logo-320.jpg     1x,
          ./images/footer/footer-logo-320@2x.jpg 2x
          "   media="(max-width: 767px)"
        />

      <img
        class="footer-img"
        alt="icon with logo"
        src="./images/footer/footer-logo-768.jpg"     
       
        /></picture       
      >

      <!-- <picture>
        <source
          srcset="
            ./images/team/desktop/team_card_1.jpg    1x,
            ./images/team/desktop/team_card_1@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/team/tablet/team_card_1.jpg     1x,
            ./images/team/desktop/team_card_1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/team/mobile/team_card_1.jpg     1x,
            ./images/team/desktop/team_card_1@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/team/desktop/team_card_1.jpg"
          width="450"
          height="460"
          alt="Игорь Демьяненко"
        />
      </picture> -->



  </a>

  <a class="footer-contacts-phone" href="tel:+380000000000">
    <svg class="footer-icon-tel" >
      <use href="./images/sprite.svg#icon-tel"></use>
    </svg>
    +38 (000) 000 00 00</a
  >

  <a
    class="instagram"
    href="https://www.instagram.com/hellenglish/?igshid=eyl27abp3vvg"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Intagram"
    ><picture class="footer-picture"
      ><source
        media="(min-width: 320px)"
        srcset="./images/instagram-logo.svg" />
      <img
        class="footer-img"
        alt="icon with logo"
        src="./images/instagram-logo.svg" /></picture
  ></a>
</div>
<!-- Секція футера 3 -->

<div class="footer-copyright">
  <div class="footer-copyright-box container">@ Все права защищены, 2019</div>
</div>
