
<div class="container">
  <nav class="nav">
    <a class="logo-mob" href="#">
      <svg class="icon" width="80" height="30">
        <use href="./images/sprite.svg#logo-header-mob"></use>
      </svg>
    </a>
    <div class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="#our-program" class="header-nav-link">Программа обучения</a>
          </li>
        </li>
        <li class="header-nav-item">
          <a href="#teacher" class="header-nav-link">О нас</a>
        </li>
        <li class="header-nav-item">
          <a href="#how-i-do" class="header-nav-link">Варианты обучения</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link">Контакты</a>
        </li>
      </ul>
      <a class="consultation-btn" href="#contacts">консультация по телефону</a>
      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="header-black"
        data-menu-button
      >
        <svg width="40" height="40" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="./images/sprite.svg#menu"></use>
        </svg>
      </button>
    </div>
  </nav>
</div>

  <!--Скрытое меню-->
 
  <div class="header-black" data-menu>
    
    <div class="container">
      <div class="header-black-top">
      <a class="logo-mob" href="#">
        <svg class="icon" width="80" height="30">
          <use href="./images/sprite.svg#logo-mob"></use>
        </svg>
      </a>
      <button
        type="button"
        class="menu-button-black"
        aria-expanded="false"
        aria-controls="header-appears"
        data-menu-button
      >
        <svg width="20" height="20" aria-label="Переключатель мобильного меню">
          <use class="icon-cross" href="./images/sprite.svg#menu-cross"></use>
        </svg>
      </button>
    </div>
    <nav class="header-black-nav">
    <ul class="header-black-list ">
      <li class="header-black-item">
        <a href="#our-program" class="black-line">Программа обучения</a>
      </li>
      <li class="header-black-item">
        <a href="#teacher" class="black-line">О нас</a>
      </li>
      <li class="header-black-item">
        <a href="#how-i-do" class="black-line">Варианты обучения</a>
      </li>
      <li class="header-black-item">
        <a href="#contacts" class="black-line">Контакты</a>
      </li>
    </ul>
    <a href="#contacts" class="consultation-black-btn">Консультация по телефону</a>
    </nav>
    </div>
  </div>
