<div class="container">
  <nav class="nav">
    <a class="logo" href="#">
      <svg class="icon" width="80" height="30">
        <use href="./images/sprite.svg#logo-header-mob"></use>
      </svg>
    </a>
    <div class="menu-container">
      <ul class="menu-phone list">
        <li class="menu-phone-item">
          <a href="" class="line">Программа обучения</a>
        </li>
        <li class="menu-phone-item">
          <a href="" class="line">Обо мне</a>
        </li>
        <li class="menu-phone-item">
          <a href="" class="line">Варианты обучения</a>
        </li>
        <li class="menu-phone-item">
          <a href="" class="line">Контакты</a>
        </li>
      </ul>
      <a href="" class="contacts-mob">Консультация по телефону</a>
    </div>
  </nav>
</div>
