<section class="main-problems section">
  <div class="container">
    <div>
      <h2 class="main-problems-title">
        Главные проблемы учеников на English ВНО, которые мы
        <span class="problems-accent">помогаем</span> решить
      </h2>
      <div class="choice-container">
        <ul class="choice-list list">
          <li  class="choice-list-item">
            <p class="choice-number">01</p>
            <h3 class="choise-desciption">Название грамматики</h3>
          </li>
          <li  class="choice-list-item">
            <p class="choice-number">02</p>
            <h3 class="choise-desciption">
              Неумение воспринимать устную английскую речь
            </h3>
          </li>
          <li  class="choice-list-item">
            <p class="choice-number">03</p>
            <h3 class="choise-desciption">
              Скупой словарный запас для написания сочинения
            </h3>
          </li>
          <li  class="choice-list-item">
            <p class="choice-number">04</p>
            <h3 class="choise-desciption">Подготовка в одиночку</h3>
          </li>
          <li class="choice-list-item">
            <p class="choice-number">05</p>
            <h3 class="choise-desciption">Отсутствие единого ресурса знаний</h3>
          </li>
          <li  class="choice-list-item">
            <p class="choice-number">06</p>
            <h3 class="choise-desciption">Недостаток самоорганизации и лень</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
