<section>
  <div class="container">
    <div class="main-problems">
      <h2>
        Главные проблемы учеников на English ВНО, которые мы
        <span class="accent">помогаем</span> решить
      </h2>
      <ul>
        <ul>
          <p>01</p>
          <h3>Название грамматики</h3>
        </ul>
        <ul>
          <p>02</p>
          <h3>Неумение вомпринимать устную английскую реч</h3>
        </ul>
        <ul>
          <p>03</p>
          <h3>Скупой словарный запас для написани сочинения</h3>
        </ul>
        <ul>
          <p>04</p>
          <h3>Подготовка в одиночку</h3>
        </ul>
        <ul>
          <p>05</p>
          <h3>Отсутствие единого ресурса знаний</h3>
        </ul>
        <ul>
          <p>06</p>
          <h3>Недостатой самоорганизации и лень</h3>
        </ul>
      </ul>
    </div>
  </div>
</section>
