<section class="our-program  section" id="our-program">
    <div class="lyout-img">
    <div class="container">
      <h2 class="title title-w title-program">Наша программа</h2>
      <ul class="program-list list">
        <li class="program-list-item">
          <h3 class="program-list-item-title">1 семестр</h3>
          <ul class="caption-list list">
            <li class="caption-list-item">
              <p class="caption-name">Grammar</p>
              <p class="caption-description">
                Nouns & Articles
                <span class="caption-description-span">
                  Adjectives & Adverb</span
                >
              </p>
            </li>
            <li class="caption-list-item">
              <p class="caption-name">Vocabulary</p>
              <p class="caption-description">
                Family & Relations
                <span class="caption-description-span"> People & Society </span>
              </p>
            </li>
          </ul>
        </li>
        <li class="program-list-item">
          <h3 class="program-list-item-title">2 семестр</h3>
          <ul class="caption-list list">
            <li class="caption-list-item">
              <p class="caption-name">Grammar</p>
              <p class="caption-description">
                Pronouns
                <span class="caption-description-span">Active Voice</span>
                <span class="caption-description-span">Passive Voice</span>
              </p>
            </li>
            <li class="caption-list-item">
              <p class="caption-name">Vocabulary</p>
              <p class="caption-description">
                Home
                <span class="caption-description-span"> School </span>
                <span class="caption-description-span"> Work </span>
              </p>
            </li>
          </ul>
        </li>
        <li class="program-list-item">
          <h3 class="program-list-item-title">3 семестр</h3>
          <ul class="caption-list list">
            <li class="caption-list-item">
              <p class="caption-name">Grammar</p>
              <p class="caption-description">
                Modal verbs
                <span class="caption-description-span">Infinitive</span>
                <span class="caption-description-span">Gerund</span>
                <span class="caption-description-span">Participle: 1, 2 </span>
              </p>
            </li>
            <li class="caption-list-item">
              <p class="caption-name">Vocabulary</p>
              <p class="caption-description">
                Travel & Tourism
                <span class="caption-description-span"
                  >Culture & Free Time
                </span>
                <span class="caption-description-span"> Sport </span>
              </p>
            </li>
            <li class="caption-list-item">
              <p class="caption-name">Writing</p>
              <p class="caption-description">Informal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program-list-item">
          <h3 class="program-list-item-title">4 семестр</h3>
          <ul class="caption-list list">
            <li class="caption-list-item">
              <p class="caption-name">Grammar</p>
              <p class="caption-description">
                Clauses: Conditional and Wishes
                <span class="caption-description-span"
                  >Direct / Reported speech
                </span>
                <span class="caption-description-span"> Preposition </span>
                <span class="caption-description-span"> Conjunction </span>
                <span class="caption-description-span"> Numeral </span>
              </p>
            </li>
            <li class="caption-list-item">
              <p class="caption-name">Vocabulary</p>
              <p class="caption-description">
                Healthy Living
                <span class="caption-description-span"
                  >Nature & Environment</span
                >
                <span class="caption-description-span"> Money </span>
              </p>
            </li>
            <li class="caption-list-item">
              <p class="caption-name">Writing</p>
              <p class="caption-description">Formal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program-list-item">
          <h3 class="program-list-item-title">5 семестр</h3>

          <ul class="caption-list list">
            <li class="caption-list-item">
              <p class="caption-name"></p>
              <p class="caption-description">
                Revision
                <span class="caption-description-span">Tests </span>
              </p>
            </li>
          </ul>
        </li>
      </ul>

  <h2 class="choice-title">Почему нас выбирают</h2>
  <!-- <picture>
    <source srcset="./images/desctop/our-team-desctop.png 1x, ./images/desctop/our-team-desctop@2x.png 2x" media="(min-width: 1440px)" />
    <source srcset="./images/tablet/our-team-tablet.png 1x, ./images/tablet/our-team-tablet@2x.png 2x" media="(min-width: 768px)" />
    <source srcset="./images/mobile/our-team-mobile.png 1x, ./images/mobile/our-team-mobile@2x.png 2x" media="(max-width: 767px)" />
    <img class="img-layout" src="./images/tablet/our-team-tablet.png"  alt="Фото класса" />
  </picture> -->
  <div class="choice-container">
      <ul class="choice-list list">
          <li class="choice-list-item"> <span class="choice-number" >01</span>
              <p class="choise-desciption" > Обучение в малых командах</p></li>
          <li class="choice-list-item"><span class="choice-number" >02</span>
             <p class="choise-desciption">Визуализированные конспекты</p> </li>
          <li class="choice-list-item"><span class="choice-number" >03</span>
             <p class="choise-desciption">Каждое занятие имеет цель и конкретный результат</p> </li>
          <li class="choice-list-item">
            <span class="choice-number">02</span>
            <p class="choise-desciption">Визуализированные конспекты</p>
          </li>
          <li class="choice-list-item">
            <span class="choice-number">03</span>
            <p class="choise-desciption">
              Каждое занятие имеет цель и конкретный результат
            </p>
          </li>
          <li class="choice-list-item">
            <span class="choice-number">04</span>
            <p class="choise-desciption">Реальные результаты преподавателя</p>
          </li>
          <li class="choice-list-item">
            <span class="choice-number">05</span>
            <p class="choise-desciption">
              Программа курса соответствует требованиям МОН Украины
            </p>
          </li>
          <li class="choice-list-item">
            <span class="choice-number">06</span>
            <p class="choise-desciption">Набор команд по уровням знаний</p>
          </li>
        </ul>
      </div>

      <div></div>
    </div>
  </div>
</section>
