<section class="section">
    <container class="container">
        <h2 class="title">Отзывы выпускников</h2>
        <ul class="card-list">
            <li class="card-senior">
                <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Тоня Кучеровская</h3>
                <p>Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                <p>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="">Читать дальше...</a></p>
            </li>
            <li class="card-senior">
                <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Тоня Кучеровская</h3>
                <p>Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                <p>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="">Читать дальше...</a></p>
            </li>
            <li class="card-senior">
                <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Тоня Кучеровская</h3>
                <p>Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                <p>За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="">Читать дальше...</a></p>
            </li>
            <li class="card-senior">

            </li>
        </ul>

        </div>
    </container>
</section>