<section class="section">
    <div class="container">
        <h2 class="title">Отзывы выпускников</h2>
        <ul class="card-list">
            <li class="card-senior">
              <picture>
                <source srcset="././images/mobile/slider/Tonia-mob.webp, ././images/mobile/slider/Tonia-mob@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                <source srcset="././images/mobile/slider/Tonia-mob.jpg, ././images/mobile/slider/Tonia-mob@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                <img src="./images/mobile/slider/Tonia-mob.jpg" alt="Тоня Кучеровская" src="./images/mobile/slider/Tonia-mob@2x.jpg 2x"/>
              </picture>

              <a
                class="social-link" 
                href="https://instagram.com" 
                target="_blank" rel="noopener noreferrer"
                aria-label="Ссылка на Instagram">
                <svg class="icon" width="20" height="20">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
              <h3 class="name-senior">Тоня Кучеровская</h3>
              <p lang="ua">Випуск 2015-го року, Національний університет біоресурсів і природокористування України</p>
              <p class="comment" lang="ua">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a class="extra" href="">Читать дальше...</a></p>
            </li>

            <li class="card-senior">
                <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Янина Смирнова</h3>
                <p>Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a class="extra" href="">Читать дальше...</a></p>
            </li>

            <li class="card-senior">
                <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Оля Соколова</h3>
                <p>Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a class="extra" href="">Читать дальше...</a></p>
            </li>

            <li class="card-senior">
              <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Лиза Гресько</h3>
                <p>Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a class="extra" href="">Читать дальше...</a></p>
            </li>
        </ul>
      </div>
</section>