<section class="section teacher" id="teacher">
  <div class="container">
    <h2 class="teacher title">Преподаватель</h2>
    <div class="teacher-wrap">
      <picture>
        <source
          srcset="
            ./images/desktop/helena-moreva.jpg    1x,
            ./images/desktop/helena-moreva@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/mobile/helena-moreva-320.jpg    1x,
            ./images/mobile/helena-moreva-320@2x.jpg 2x
          "
          media="(max-width: 1439px)"
        />
        <img class="teacher-photo" src="" alt="Елена Морева" />
      </picture>

      <div class="teacher-achievment-box">
        <h3 class="teacher-name">Елена Морева</h3>
        <ul class="teacher-achievment list">
          <li class="teacher-achievment item">
            Опыт подготовки учеников к ВНО - 6 лет
          </li>
          <li class="teacher-achievment item">
            Собственный результат сдачи ВНО - 197 баллов 2 года подряд
          </li>
          <li class="teacher-achievment item">
            Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)
          </li>
        </ul>

        <p class="teacher-achievment desc decorate-line">
          Высшее образование получила в Институте международных отношений НАУ по
          специальности переводчик-аналитик.
        </p>
        <p class="teacher-achievment desc">
          В свободное время проходит курсы от лучших университетов мира по
          эффективному преподаванию и методикам написания сочинений.
        </p>
        <p class="teacher-achievment desc">
          В числе пройденных:
          <span lang="en"
            >English Grammar and Essay Writing (Berkeley), English Grammar&Style
            (The University of Queesland), How to Write an Essay (Berkeley),
            Academic and Business Writing (Berkeley), The Art of Teaching (GEMS
            education), Powerful Tools for Teaching and Learning (University of
            Houston).</span
          >
        </p>
        <button class="certificate" type="button" lang="en">
          Cambrige English Entry Level Certificate
        </button>
      </div>
    </div>
  </div>
</section>
