<section class="section">
    <div class="container">
        <h2 class="title">Отзывы выпускников</h2>
          <ul class="sliderbig list">
            <li class="sliderbig-item">
              <div class="photo-senior">
                <picture>
                  <source srcset="././images/slider/Tonia.webp, ././images/slider/Tonia@2x.webp 2x" type="image/webp" media="(min-width:1440px)">
                    <source srcset="././images/slider/Tonia.jpg, ././images/slider/Tonia@2x.jpg 2x" type="image/jpeg" media="(min-width:1440px)">
                  <source srcset="././images/slider/Tonia.webp, ././images/slider/Tonia@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/Tonia.jpg, ././images/slider/Tonia@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/Tonia.jpg" alt="Тоня Кучеровская" src="./images/slider/Tonia@2x.jpg 2x"/>
                </picture>
              </div>

              <a
                class="social-link" 
                href="https://instagram.com" 
                target="_blank" rel="noopener noreferrer"
                aria-label="Ссылка на Instagram">
                <svg class="icon" width="30" height="30">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
              <h3 class="name-senior">Тоня Кучеровская</h3>
              <p lang="ua">Випуск 2015-го року, Національний університет біоресурсів і природокористування України</p>
              <p class="comment" lang="ua">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a class="extra" href="">Читать дальше...</a></p>
            </li>

            <li class="sliderbig-item">
              <div class="photo-senior">
                <picture>
                  <source srcset="././images/slider/Yanina.webp, ././images/slider/Yanina@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/Yanina.jpg, ././images/slider/Yanina@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/Yanina.jpg" alt="Янина Смирнова" src="./images/slider/Yanina@2x.jpg 2x"/>
                </picture>
              </div>
                <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Янина Смирнова</h3>
                <p>Выпуск 2016-го года, студентка КНУ</p>
                <p class="comment">Елена помогла мне до конца понять все упущенное из школьной программы. Уровень у меня был неплохой, но проблемы в знаниях все же имелись. Занимались 2 раза в неделю: проходили грамматику, учили новые слова, писали <a class="extra" href="">Читать дальше...</a></p>
            </li>

            <li class="sliderbig-item">
              <div class="photo-senior">
                <picture>
                  <source srcset="././images/slider/Olia.webp, ././images/slider/Olia@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/Olia.jpg, ././images/slider/Olia@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/Olia.jpg" alt="Оля Соколова" src="./images/slider/Olia@2x.jpg 2x"/>
                </picture>
              </div>
                <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Оля Соколова</h3>
                <p>Выпуск 2017-го года, КНУ им. Тараса Шевченко</p>
                <p class="comment">Работа с Еленой мне понравилась с нашего самого первого занятия. Мне был предложен ряд тестов, который показывал мой уровень знаний и выявлял то, что мне надо подтянуть для успешной сдачи ВНО по английскому. Мой <a class="extra" href="">Читать дальше...</a></p>
            </li>

            <li class="sliderbig-item">
              <div class="photo-senior">
                <picture>
                  <source srcset="././images/slider/Liza.webp, ././images/slider/Liza@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/Liza.jpg, ././images/slider/Liza@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/Liza.jpg" alt="Лиза Гресько" src="./images/slider/Liza@2x.jpg 2x"/>
                </picture>
              </div>
              <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Лиза Гресько</h3>
                <p>Выпуск 2016, КИНУ “ОЮА”</p>
                <p class="comment">Начала заниматься с Леной по рекомендации одноклассницы и не пожалела! Очень сильно понравился подход к обучению. Все понятно мне объясняли. Больше всего мне понравилось, что многие задания были придуманы учителем <a class="extra" href="">Читать дальше...</a></p>
            </li>

            <li class="sliderbig-item">
              <div class="photo-senior">
                <picture>
                  <source srcset="././images/slider/Katia.webp, ././images/slider/Katia@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/Katia.jpg, ././images/slider/Katia@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/Katia.jpg" alt="Катя Новикова" src="./images/slider/Katia@2x.jpg 2x"/>
                </picture>
              </div>
              <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Катя Новикова</h3>
                <p>Выпуск 2017-го года, КНУ им. Тараса Шевченко</p>
                <p class="comment">В 2017 году я долго готовилась к ВНО по английскому,поскольку для меня это был очень важный предмет как для поступления,так и для моего будущего,и очень тщательно выбирала себе репетитора. Моя одноклассница-Аня Квиндт, посоветовала мне замечательную девушку Елену,с которой на тот момент она уже занималась.Так как до экзамена оставалось меньше двух месяцев,мы с Еленой начали активно <a class="extra" href="">Читать дальше...</a></p>
            </li>
          
            <li class="sliderbig-item">
              <div class="photo-senior">
                <picture>
                  <source srcset="././images/slider/Ania.webp, ././images/slider/Ania@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/Ania.jpg, ././images/slider/Ania@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/Ania.jpg" alt="Ана Квиндт" src="./images/slider/Ania@2x.jpg 2x"/>
                </picture>
              </div>
              <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Аня Квиндт</h3>
                <p>Выпуск 2017-го года, КНУ им. Тараса Шевченко</p>
                <p class="comment">Работа с Еленой мне понравилась с нашего самого первого занятия. Мне был предложен ряд тестов, который показывал мой уровень знаний и выявлял то, что мне надо подтянуть для успешной сдачи ВНО по английскому. Мой начальный бал был около 170, и в итоге, после трёх месяцев работы с Еленой я сдала ВНО на 190! И все благодаря грамотному, эффективному и приятному обучению по индивидуально- <a class="extra" href="">Читать дальше...</a></p>
            </li>
          

            <li class="sliderbig-item">
              <div class="photo-senior">
                <picture>
                  <source srcset="././images/slider/Sasha.webp, ././images/slider/Sasha@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/Sasha.jpg, ././images/slider/Sasha@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/Sasha.jpg" alt="Саша Шевчук" src="./images/slider/Sasha@2x.jpg 2x"/>
                </picture>
              </div>
              <a 
                  class="social-link" 
                  href="https://instagram.com" 
                  target="_blank" rel="noopener noreferrer"
                  aria-label="Ссылка на Instagram">
                  <svg class="icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
                <h3 class="name-senior">Саша Шевчук</h3>
                <p>Выпуск 2017, Институт Физкультуры</p>
                <p class="comment">Лена очень хороший репетитор) Добрая, отзывчивая и позитивная! Всегда продуманные, интересные и самое главное, качественные уроки! Заниматься с ней одно удовольствие) Вела меня практически с самого начала 11 класса и до самого. Отличная подготовка к вступительным экзаменам. Когда я пришёл учиться по рекомендации друга мой балл ЗНО был 129, после пол года усердных занятий я написал пробное ЗНО <a class="extra" href="">Читать дальше...</a></p>
            </li>
          </ul>

          <!--Разметка для мини-слайдера-->
          <ul class="slider list">
            <li class="slider-item">
                <picture>
                  <source srcset="././images/slider/mini-photo/Tonia-mini.webp, ././images/slider/mini-photo/Tonia-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/mini-photo/Tonia-mini.jpg, ././images/slider/mini-photo/Tonia-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/mini-photo/Tonia-mini.jpg" alt="Тоня Кучеровская" src="./images/slider/mini-photo/Tonia-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/slider/mini-photo/Yanina-mini.webp, ././images/slider/mini-photo/Yanina-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/mini-photo/Yanina-mini.jpg, ././images/slider/mini-photo/Yanina-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/mini-photo/Yanina-mini.jpg" alt="Янина Смирнова" src="./images/slider/mini-photo/Yanina-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/slider/mini-photo/Olia-mini.webp, ././images/slider/mini-photo/Olia-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/mini-photo/Olia-mini.jpg, ././images/slider/mini-photo/Olia-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/mini-photo/Olia-mini.jpg" alt="Оля Соколова" src="./images/slider/mini-photo/Olia-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/slider/mini-photo/Liza-mini.webp, ././images/slider/mini-photo/Liza-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/mini-photo/Liza-mini.jpg, ././images/slider/mini-photo/Liza-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/mini-photo/Liza-mini.jpg" alt="Лиза Гресько" src="./images/slider/mini-photo/Liza-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/slider/mini-photo/Katia-mini.webp, ././images/slider/mini-photo/Katia-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/mini-photo/Katia-mini.jpg, ././images/slider/mini-photo/Katia-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/mini-photo/Katia-mini.jpg" alt="Катя Новикова" src="./images/slider/mini-photo/Katia-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/slider/mini-photo/Ania-mini.webp, ././images/slider/mini-photo/Ania-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/mini-photo/Ania-mini.jpg, ././images/slider/mini-photo/Ania-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/mini-photo/Ania-mini.jpg" alt="Аня Квиндт" src="./images/slider/mini-photo/Ania-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/slider/mini-photo/Sasha-mini.webp, ././images/slider/mini-photo/Sasha-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/slider/mini-photo/Sasha-mini.jpg, ././images/slider/mini-photo/Sasha-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/slider/mini-photo/Sasha-mini.jpg" alt="Саша Шевчук" src="./images/slider/mini-photo/Sasha-mini@2x.jpg 2x"/>
                </picture>
            </li>
          </ul>
          <!-- <ul class="slider list">
            <li class="slider-item">
                <picture>
                  <source srcset="././images/mobile/slider/mini-photo/Tonia-mob-mini.webp, ././images/mobile/slider/mini-photo/Tonia-mob-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/mobile/slider/mini-photo/Tonia-mob-mini.jpg, ././images/mobile/slider/mini-photo/Tonia-mob-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/mobile/slider/mini-photo/Tonia-mob-mini.jpg" alt="Тоня Кучеровская" src="./images/mobile/slider/mini-photo/Tonia-mob-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/mobile/slider/mini-photo/Yanina-mob-mini.webp, ././images/mobile/slider/mini-photo/Yanina-mob-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/mobile/slider/mini-photo/Yanina-mob-mini.jpg, ././images/mobile/slider/mini-photo/Yanina-mob-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/mobile/slider/mini-photo/Yanina-mob-mini.jpg" alt="Янина Смирнова" src="./images/mobile/slider/mini-photo/Yanina-mob-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/mobile/slider/mini-photo/Olia-mob-mini.webp, ././images/mobile/slider/mini-photo/Olia-mob-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/mobile/slider/mini-photo/Olia-mob-mini.jpg, ././images/mobile/slider/mini-photo/Olia-mob-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/mobile/slider/mini-photo/Olia-mob-mini.jpg" alt="Оля Соколова" src="./images/mobile/slider/mini-photo/Olia-mob-mini@2x.jpg 2x"/>
                </picture>
            </li>

            <li class="slider-item">
                <picture>
                  <source srcset="././images/mobile/slider/mini-photo/Liza-mob-mini.webp, ././images/mobile/slider/mini-photo/Liza-mob-mini@2x.webp 2x" type="image/webp" media="(min-width:767px)">
                  <source srcset="././images/mobile/slider/mini-photo/Liza-mob-mini.jpg, ././images/mobile/slider/mini-photo/Liza-mob-mini@2x.jpg 2x" type="image/jpeg" media="(min-width:767px)">
                  <img src="./images/mobile/slider/mini-photo/Liza-mob-mini.jpg" alt="Лиза Гресько" src="./images/mobile/slider/mini-photo/Liza-mob-mini@2x.jpg 2x"/>
                </picture>
            </li>
          </ul> -->
      </div>
</section>