.problems-accent {
  color: $accent-color;
}

.main-problems {
  background-image: linear-gradient($title-text-color 70%, $white-color 30%);
  padding-bottom: 0px;
}

.main-problems-title {
  width: 280px;
  margin-bottom: 30px;
}
